.homePageContainer {
    display:flex;
    flex-direction: column;
    height:100%;
    row-gap: 1rem;
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
    padding:1rem;

}
.homePageContainer > header {
    width: 100%;
    height: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.homePageContainer > main {
    height: 90%;
    width: 100%;
}